<li>  
  <%= image_for(note.user) %>
  <span class="content">
   企業名： <%= link_to note.title, note_path(note.id) %>
  </span>
  <span>
    <%= "投稿日：" + note.created_at.strftime("%Y-%m-%d") %>
  </span>
</li>
