
<div id="post-modal">
	<div class="modal">
	<div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="login-form">
        <h2>予定|リマインダー</h2>
        <h3 id="clickday"></h3>    
        <form action="#">
          <input class="form-control form-controler" type="text" placeholder="例：19:00〜22:00A社面接">
          <div id="submit-btn" class="btn">保存</div>
        </form>
      </div>
    </div>
</div>

<div id="calendar"></div>


